{% extends "base.html" %} {% block title %} Blogs Page {% endblock title %} {% block body %} {% if user.is_authenticated %}
<h1>Post</h1>
<ul>
    {% for post in object_list %}
    <li>
        <a href="{% url 'postview' post.pk %}">{{post.title}} </a> - {{post.author}} (Posted on {{post.post_date}})
        <br>
        <br>{{post.body}}
        <br>
        <br>
        <a href="{% url 'editpost' post.pk %}">(EDIT)</a>
        <br>
        <a href="{% url 'deletepost' post.pk %}">(DELETE)</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<h1> Please Log in</h1>
{% endif %} {% endblock body %}